################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/DataAccess/EFCore.DataAccess/obj
/DataAccess/EFCore.DataAccess/bin
/Entities/EFCore.Entities/obj
/Entities/EFCore.Entities/bin
/UnitTests/EFCoreTests/bin
/UnitTests/EFCoreTests/obj
/Utility/Commmon.Utility/obj
/Utility/Commmon.Utility/bin
/Business/EFCore.Business/obj/Debug/netstandard2.0
/Business/EFCore.Business/obj
/EFCoreTest/bin/Debug
/EFCoreTest/obj/Debug
/packages/Newtonsoft.Json.12.0.1
