################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/DataAccess/EFCore.DataAccess/obj
/DataAccess/EFCore.DataAccess/bin
/Entities/EFCore.Entities/obj
/Entities/EFCore.Entities/bin
/UnitTests/EFCoreTests/bin
/UnitTests/EFCoreTests/obj
/Utility/Commmon.Utility/obj
/Utility/Commmon.Utility/bin
